/* ***** commons ***** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background: rgb(0,150,136);
    background: linear-gradient(180deg, rgba(0,150,136,1) 0%, rgba(0,150,136,1) 15%, rgba(220,219,209,1) 15%, rgba(210,219,219,1) 100%);
}

.container {
    width: 80%;
    height: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
}

.top {
    height: 70px;
    background-color: #eaeaea;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top .avatar {
    height: 100%;

    display: flex;
    align-items: center;
}

.top .avatar img {
    margin-right: 5px;
}

img {
    height: 100%;
    border-radius: 50%;
}

.top .icons i {
    color: #b1b1b1;
    font-size: 20px;
    margin: 8px;
}


.active {
    background-color: #e9ebeb;
}



/* ***** left column ***** */

.col.left {
    width: 35%;
    border-right: 1px solid #ddd;
}

.col.left .notifications {
    background-color: #8edafc;
    height: 80px;
    padding: 15px;

    display: flex;
    align-items: center;
}

.col.left .notifications i {
    color: #8edafc;
    background-color: #fff;
    font-size: 20px;
    border-radius: 50%;
    padding: 15px 13px;
}

.col.left .notifications .text {
    margin-left: 10px;

    display: flex;
    flex-direction: column;
}

.col.left .notifications .text span {
    font-size: 15px;
}

.col.left .notifications .text a {
    color: #666;
    font-size: 12px;
}

.col.left .contacts {
    height: calc(100% - 150px);
    display: flex;
    flex-direction: column;
}

.col.left .search {
    background-color: #fafafa;
    padding: 5px;

    display: flex;
}

.col.left .search button {
    color: #b1b1b1;
    background-color: #fff;
    border: 0;
    border-right: 1px solid #fafafa;
    padding: 10px 20px;
    cursor: pointer;
}

#search-text {
    border: 0;

    flex-grow: 1;
}

.col.left .contacts .list {
    background-color: #fff;
    overflow-y: auto;

    flex-grow: 1;
}

.col.left .list .row {
    height: 80px;
    border-top: 1px solid #fafafa;
    padding: 10px;
    cursor: pointer;
}

.col.left .list .row span {
    vertical-align: top;
    margin-left: 10px;
}


/* ***** right column ***** */

.col.right {
    width: 75%;
}



/* +++++ debug +++++ */

/* .debug .container {
    background-color: blue;
} */

/* .debug .col.left {
    background-color: green;
    border: 1px solid black;
} */

.debug .col.right {
    background-color: red;
    /* border: 1px solid black; */
}