/* ***** commons ***** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    height: 100vh;
    background: rgb(0,150,136);
    background: linear-gradient(180deg, rgba(0,150,136,1) 0%, rgba(0,150,136,1) 15%, rgba(220,219,209,1) 15%, rgba(210,219,219,1) 100%);
}

.container {
    width: 80%;
    height: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
}

.top {
    height: 70px;
    background-color: #eaeaea;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top .avatar {
    height: 100%;

    display: flex;
    align-items: center;
}

.top .avatar img {
    margin-right: 5px;
}

.top .avatar .infos {
    display: flex;
    flex-direction: column;
}

.top .avatar .last-logon {
    color: #aaa;
    font-size: 12px;
}

.top .icons i {
    color: #b1b1b1;
    font-size: 20px;
    margin: 8px;
    cursor: pointer;
}

img {
    height: 100%;
    border-radius: 50%;
}

input[type='text'] {
    font-size: 16px;
    border: 0;
    padding: 10px;
    flex-grow: 1;
}

.active {
    background-color: #e9ebeb;
}



/* ***** left column ***** */

.col.left {
    width: 35%;
    min-width: 275px;
}

.col.left .notifications {
    background-color: #8edafc;
    height: 80px;
    padding: 15px;

    display: flex;
    align-items: center;
}

.col.left .notifications i {
    color: #8edafc;
    background-color: #fff;
    font-size: 20px;
    border-radius: 50%;
    padding: 15px 13px;
}

.col.left .notifications .text {
    margin-left: 10px;

    display: flex;
    flex-direction: column;
}

.col.left .notifications .text span {
    font-size: 15px;
}

.col.left .notifications .text a {
    color: #666;
    font-size: 12px;
}

.col.left .contacts {
    height: calc(100% - 150px);
    display: flex;
    flex-direction: column;
}

.col.left .search {
    background-color: #fafafa;
    padding: 5px;

    display: flex;
}

.col.left .search i {
    color: #b1b1b1;
    background-color: #fff;
    border: 0;
    border-right: 1px solid #fafafa;
    padding: 10px 20px;
}

.col.left .contacts .list {
    background-color: #fff;
    overflow-y: auto;

    flex-grow: 1;
}

.col.left .list .row {
    height: 80px;
    border-top: 1px solid #fafafa;
    padding: 10px;
    cursor: pointer;
}

.col.left .list .row span {
    vertical-align: top;
    margin-left: 10px;
}


/* ***** right column ***** */

.col.right {
    width: 75%;
    min-width: 320px;
}


.col.right .top .icons {
    display: flex;
}


/* clip menu */
.col.right .clip-menu {
    position: relative;
}

.col.right .clip-menu ul {
    list-style: none;
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 1;
}

.col.right .clip-menu ul li {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
    position: relative;
}

.col.right .clip-menu ul li a {
    text-decoration: none;
}

.col.right .clip-menu ul li i {
    width: 100%;
    height: 100%;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col.right .clip-menu .tag {
    background-color: #fff;
    font-size: 14px;
    white-space: nowrap;
    border-radius: 15px;
    padding: 5px 10px;
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translate(0, -50%);
    display: none;
}

.col.right .clip-menu li:hover .tag {
    display: block;
}

.col.right .clip-menu ul li .fa-image {
    background: linear-gradient(180deg, rgba(172,68,207,1) 0%, rgba(172, 68, 207,1) 50%, rgba(191, 89, 207,1) 50%, rgba(191, 89, 207,1) 100%);
}

.col.right .clip-menu ul li .fa-sticky-note {
    background: linear-gradient(180deg, rgba(0, 99, 203,1) 0%, rgba(0, 99, 203,1) 50%, rgba(0, 112, 230,1) 50%, rgba(0, 112, 230,1) 100%);
}

.col.right .clip-menu ul li .fa-camera {
    background: linear-gradient(180deg, rgba(211, 57, 109,1) 0%, rgba(211, 57, 109,1) 50%, rgba(236, 64, 122,1) 50%, rgba(236, 64, 122,1) 100%);
}

.col.right .clip-menu ul li .fa-file {
    background: linear-gradient(180deg, rgba(81, 87, 174,1) 0%, rgba(81, 87, 174,1) 50%, rgba(95, 102, 205,1) 50%, rgba(95, 102, 205,1) 100%);
}

.col.right .clip-menu ul li .fa-user {
    background: linear-gradient(180deg, rgba(7,149,220,1) 0%, rgba(7,149,220,1) 50%, rgba(14,171,244,1) 50%, rgba(14,171,244,1) 100%);
}


.list-enter-active, .list-leave-active {
    transition: all .5s;
}

.list-enter, .list-leave-to {
    opacity: 0;

}

/* end clip menu */


.col.right .chat {
    background-image: url('../img/mine.jpg');
    background-position: center;
    height: calc(100% - 140px);
    padding: 50px 70px 0;
    overflow-y: auto;
}

.col.right .chat .row {
    margin-bottom: 10px;
    display: flex;
    justify-content: right;
}

.chat .row .message {
    min-width: 150px;
    max-width: 48%;
    word-wrap: break-word;
    padding: 15px 20px 25px;
    border-radius: 10px;
    position: relative;
}

.chat .row .message .date {
    color: #bbb;
    font-size: 11px;
    position: absolute;
    bottom: 5px;
    right: 10px;
}


.col.right .chat .row.sent {
    justify-content: right;
}

.chat .row.sent .message {
    background-color: #d5f9ba;
}


.col.right .chat .row.received {
    justify-content: left;
}

.chat .row.received .message {
    background-color: #fff;
}


.col.right .send-message {
    background-color: #f3eeea;
    height: 70px;

    display: flex;
    align-items: center;
}

.col.right .send-message i {
    color: #6b7376;
    font-size: 22px;
    margin: 20px;
    cursor: pointer;
}


/* +++++ debug +++++ */

/* .debug .container {
    background-color: blue;
} */

/* .debug .col.left {
    background-color: green;
    border: 1px solid black;
} */

/* .debug .col.right {
    background-color: red;
    border: 1px solid black;
} */