/* ***** commons ***** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background: rgb(0,150,136);
    background: linear-gradient(180deg, rgba(0,150,136,1) 0%, rgba(0,150,136,1) 15%, rgba(220,219,209,1) 15%, rgba(210,219,219,1) 100%);
}

.container {
    width: 80%;
    height: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
}

.top {
    height: 70px;
    background-color: #eaeaea;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top .avatar {
    height: 100%;

    display: flex;
    align-items: center;
}

.top .avatar img {
    margin-right: 5px;
}

.top .avatar .infos {
    display: flex;
    flex-direction: column;
}

.top .avatar .last-logon {
    color: #aaa;
    font-size: 12px;
}

.top .icons i {
    color: #b1b1b1;
    font-size: 20px;
    margin: 8px;
    cursor: pointer;
}

img {
    height: 100%;
    border-radius: 50%;
}

input[type='text'] {
    font-size: 16px;
    border: 0;
    padding: 10px;
    flex-grow: 1;
}

.active {
    background-color: #e9ebeb;
}



/* ***** left column ***** */

.col.left {
    width: 35%;
}

.col.left .notifications {
    background-color: #8edafc;
    height: 80px;
    padding: 15px;

    display: flex;
    align-items: center;
}

.col.left .notifications i {
    color: #8edafc;
    background-color: #fff;
    font-size: 20px;
    border-radius: 50%;
    padding: 15px 13px;
}

.col.left .notifications .text {
    margin-left: 10px;

    display: flex;
    flex-direction: column;
}

.col.left .notifications .text span {
    font-size: 15px;
}

.col.left .notifications .text a {
    color: #666;
    font-size: 12px;
}

.col.left .contacts {
    height: calc(100% - 150px);
    display: flex;
    flex-direction: column;
}

.col.left .search {
    background-color: #fafafa;
    padding: 5px;

    display: flex;
}

.col.left .search button {
    color: #b1b1b1;
    background-color: #fff;
    border: 0;
    border-right: 1px solid #fafafa;
    padding: 10px 20px;
    cursor: pointer;
}

.col.left .contacts .list {
    background-color: #fff;
    overflow-y: auto;

    flex-grow: 1;
}

.col.left .list .row {
    height: 80px;
    border-top: 1px solid #fafafa;
    padding: 10px;
    cursor: pointer;
}

.col.left .list .row span {
    vertical-align: top;
    margin-left: 10px;
}


/* ***** right column ***** */

.col.right {
    width: 75%;
}

.col.right .chat {
    background-image: url('../img/mine.jpg');
    background-position: center;
    height: calc(100% - 140px);
    padding: 50px 70px 0;
    overflow-y: auto;
}

.col.right .chat .row {
    margin-bottom: 10px;
    display: flex;
    justify-content: right;
}

.chat .row .message {
    max-width: 48%;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.chat .row .message .date {
    color: #bbb;
    font-size: 11px;
    position: absolute;
    bottom: 5px;
    right: 10px;
}


.col.right .chat .row.send {
    justify-content: right;
}

.chat .row.send .message {
    background-color: #d5f9ba;
}


.col.right .chat .row.recived {
    justify-content: left;
}

.chat .row.recived .message {
    background-color: #fff;
}


.col.right .send-message {
    background-color: #f3eeea;
    height: 70px;

    display: flex;
    align-items: center;
}

.col.right .send-message i {
    color: #6b7376;
    font-size: 22px;
    margin: 20px;
}


/* +++++ debug +++++ */

/* .debug .container {
    background-color: blue;
} */

/* .debug .col.left {
    background-color: green;
    border: 1px solid black;
} */

/* .debug .col.right {
    background-color: red;
    border: 1px solid black;
} */